.vscode/*
build/*
HAL/build/*
UefiBootloader/build/*
ImageCreator/build/*
tools/*
yasm/build/*
yasm/yasm_repo/*
artifacts/*
bootdrive/*
*.log
!.vscode/launch.json
!.vscode/tasks.json
temp/*
!tools/OVMF/OVMF.fd
